Package: com.pantsthief.flexing
Name: FLEXing
Pre-Depends: firmware (>= 8.0)
Depends: libFLEX
Version: 1.0.0
Architecture: iphoneos-arm
Description: Open FLEX anywhere!
Maintainer: Tanner Bennett
Author: Tanner Bennett
Section: Tweaks
