Package: libflex
Name: libFLEX
Pre-Depends: firmware (>= 9.0)
Depends: 
Version: 4.2.0
Architecture: iphoneos-arm
Description: A library for Flipboard Explorer.
Maintainer: Tanner Bennett <thepantsthief@me.com>
Author: Tanner Bennett <thepantsthief@me.com>
Section: Tweaks
